<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create Article</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control" name="Title"  [(ngModel)]="Title" placeholder="Title" value={{Title}}>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Body</label>
                                        <input type="text" class="form-control"  name="Body" [(ngModel)]="Body" placeholder="Body" value={{Body}}>
                                    </div>
                                </div>
                              
                            </div>

                         
                          

                            
                       

                         
                            <button (click)="create()"  class="btn btn-info btn-fill pull-right">Create Post</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://image.shutterstock.com/image-vector/blank-avatar-photo-icon-design-260nw-1682415103.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/descarga.png" alt="..."/>

                                <h4 class="title">{{nombre}}<br />
                                    <small>{{username}}</small>
                                    <button (click)="baja()"  class="btn btn-danger btn-fill pull-right">Dar de baja</button>

                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Usuario del portal"
                        </p>

                    </div>
                    <hr>
                    <div class="text-center">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
