<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Ver Archivos de amigos</h4>
                    </div>
                    <div *ngFor="let list of archivos" class="content">
                        <table>
                            <tr>
                                <td>Nombre: </td>
                                <td class="padded"> {{list.nombreArchivo}}</td>
                            </tr>
                            <tr>
                                <td>Propietario: </td>
                                <td class="padded"> {{list.user}}</td>
                            </tr>
                            <tr>
                                <td>Fecha: </td>
                                <td class="padded"> {{list.fechaArchivo}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <button style="width: 160px;" class="btn btn-success btn-fill pull-right" (click)="AgregarAmigos(noAm.id_usuario)">
                                        Ver archivo
                                      </button>
                                </td>
                               
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ---------------------------- Modal PARA AGREGAR AMIGOS ------------------------->

<div class="modal fade" id="ModaleAgregarAmigos" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Agregar Amigos</h4>
            </div>
            <div class="modal-body">
                <div class="search-name">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on"
                        placeholder=" SEARCH  ">
                </div>
                <ul *ngFor="let noAm of noAmigos ">
                    <br />
                    <table>
                        <tr>
                            <td>
                                <a href="#">
                                    <img class="imgRedonda" src="{{noAm.foto}}" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><b> Usuario: </b> </td>
                            <td class="padded"> {{noAm.user}}</td>
                        </tr>
                        <tr>
                            <td><b>Archivos Publicos: </b> </td>
                            <td class="padded"> {{noAm.cantidad}}</td>
                        </tr>
                        <tr>
                            <td><button style="width: 160px;" class="btn btn-success btn-fill pull-right"
                                    (click)="AgregarAmigos(noAm.id_usuario)">
                                    Agregar amigo
                                </button> </td>
                        </tr>
                    </table>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>